@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgb(169, 121, 231),  rgb(121, 196, 231));
    }

    section#login {
        width: 80vw;
        height: 290px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario > h1 {
    text-align: left;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgb(169, 121, 231),  rgb(121, 196, 231));
    }

    section#login {
        width: 950px;
        height: 300px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
    text-align: left;
    }

    div#formulario > p {
        font-size: 1em;
    }
}